@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* .box{
    background-color: red;
     height: 100px;
    width: 300px; 
    /* box-shadow: 2px 10px 20px 50px black; */
    /* opacity: .5; */
    /* transition: 3s ease; */
    /* margin: 5px; */
/* } */
.box:hover{
    transition: 3s ease;
    background-color: rgb(5, 254, 104);
}
h1::after{
    content: "xyz";
} */
h1{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    text-transform: lowercase;
    letter-spacing: 12px;
    font-size:50px;
    text-shadow: 2px -10px red;
}

/* .boxes{
    display: flex;
    flex-wrap: wrap;
    /* flex-grow: 1; */
    /* flex-direction: column; */
    /* gap: 10px; */
    /* height: 100vh; */
    /* X axis */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; x axis center */
    /* justify-content: space-evenly; */
    /* Y axis */
    /* align-items: center; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    
/* } */ 
/* .boxes{
    width: 100%;
    display: grid;
    gap: 5px;
    /* grid-template-columns: 100px 200px 500px; */
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-template-columns: repeat(3,minmax(150px,1fr)); */
    /* grid-template-columns: repeat(auto-fit,minmax(150px,1fr)); */
    /* grid-template-rows: 100px 200px 50px 60px; */
/* } */
/* .box1{ */
    /* grid-column: 1/3; */
    /* grid-column: span 3; */
/* } */ 

.grid{
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "h h h"
    "s c1 c1"
    "s c2 c3"
    "f f f";
}
/* .grid:nth-child(odd){
    background-color: aqua;
} */
.header{
    grid-area: h;
    /* background-color: purple; */
}
.sidebar{
    grid-area: s;
    background-color: blue;
}
.content1{
    grid-area: c1;
    background-color: red;
}
.content2{
    grid-area: c2;
    background-color: yellow;
}
.content3{
    grid-area: c3;
    background-color: hotpink;
}
.footer{
    grid-area: f;
    background-color: purple;
}

.box:first-child{
    background-color: purple;
    height: 100px;
    width: 100px;
}