<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Student List</h2>
    <a href="/add">Add New Student</a>
    <table>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        {% for s in students %}
        <tr>
            <td>{{s.id}}</td>
            <td>{{s.name}}</td>
            <td>{{s.email}}</td>
            <td>{{s.age}}</td>
            <td><a href="/edit/{{s.id}}">Edit</a></td>
            <td><a href="/delete/{{s.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>